{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1>Hello, Internal Page!</h1>
        <p>This is an internal page for interacting with a FastAPI backend.</p>

        <!-- WTForms Form to get input from the user -->
        
        <form method="post" action="/internal">
            <div class="form-group">
                <label for="comune">Comune:</label>
                <input type="text" class="form-control" id="comune" name="comune" required>
            </div>
            <div class="form-group">
                <label for="anno">Anno:</label>
                <input type="number" class="form-control" id="anno" name="anno" required>
            </div>
            <button type="submit" class="btn btn-primary">Get Waste Data</button>
        </form>

          
    

        <!-- Display the result here -->
        <div id="resultContainer" class="mt-3">
            {% if result %}
                <p>{{ result }}</p>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
        

    </div>


{% endblock %}