{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Welcome!</h1>
    <h2>Find the value of total waste (in kg) of each municipality
        in Italy from 1997 to 2011</h2>
    <h4>Enter the name of the municipality (first capital letter),
        and enter a year (1997 to 2011)</h4>
    
    <!-- Form for querying Rifiuto data -->
    <form method="post">
        <div class="form-group">
            <label for="comune">Comune:</label>
            <input type="text" class="form-control" id="comune" name="comune" required>
        </div>
        <div class="form-group">
            <label for="anno">Year (1997-2011):</label>
            <input type="number" class="form-control" id="anno" name="anno">
        </div>
        <button type="submit" class="btn btn-primary" name="action" value="specific">Search</button>
    </form>

    <!-- Displaying Rifiuto data -->
    {% if rifiuto_data %}
        <h2>Results:</h2>
        <p>{{ rifiuto_data }}</p>
    {% else %}
        <p>No data found. Please check the Comune name or try a different year.</p>
    {% endif %}
</div>

{% endblock %}
